
body {
  margin: 0;
  min-width: 250px;
  background-image: linear-gradient(to right, #c094b9, #997ea4, #73698c, #515472, #323f57);
}


* {
  box-sizing: border-box;
}


ul li {
  cursor: pointer;
  position: relative;
  padding: 10px 10px 10px 10px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  width: 40%;
  top: 20%;
  left: 28%;
  margin-left: 12px;
  margin-top: 20px;
  
 
}

ul li.checked {
  background: #d3b2b2;
  color: #fff;
  text-decoration: line-through;
 
}

ul li.checked::before {
  
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 5px;
  left: 16px;
  transform: rotate(45deg);
  height: 10px;
  width: 7px;
}


.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #240321;
  color: white;
}


.header {
    width: 40%;
    top: 50%;
    left: 50%;
    margin-left: 415px;
    margin-top: 100px;
  background-color: #be396a;
  padding: 30px 30px;
  color: white;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}


.header:after {
  content: "";
  display: table;
  clear: both;
}


input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}


.addBtn {
  padding: 10px;
  width: 15%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}


